.app-page-body--one-column {
  max-width: 95vw;
}

.pgw-user-specified-text {
  overflow-wrap: break-word;
}

.jenkins-table > tbody > tr > td.pgw-table-summary-col-1 {
  padding: var(--table-padding) 0 var(--table-padding) 0.8rem;
  vertical-align: top;
}
