@import "variables";
@import "../../../pipeline-graph-view/pipeline-graph/styles/PipelineGraphWidget";

.PWGx-PipelineHeader {
  width: 4rem;
  color: red;
  text-align: right;
}

.PWGx-PipelineGraph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
  margin-bottom: 0px;

  * {
    box-sizing: border-box;
  }

  .PWGx-PipelineGraph {
    margin-right: auto;
  }
}

.PWGx-PipelineGraph-summary-container {
  --progress-bg: #{$progress-bg};
  text-align: left;
  white-space: nowrap;

  .jobName {
    position: relative;
    z-index: 1
  }

  .badge {
    position: relative;
    display: inline-block;
    border-radius: 40px;
    font-size: 11px;
    font-weight: 700;
    min-width: 10px;
    padding: 3px 7px;
    background-color: white;
    overflow: hidden;
  }
  
  .badge::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    border: 2px solid transparent;
    box-sizing: border-box;
    z-index: 1;
  }
  
  .badge.success::before {
    border-color: var(--green);
  }
  
  .badge.failure::before {
    border-color: var(--red);
  }
  
  .badge.unstable::before {
    border-color: var(--text-color-secondary);
  }
  
  .badge.aborted::before {
    border-color: var(--text-color-secondary);
  }
  
  .badge.not-built::before {
    border-color: var(--text-color-secondary);
  }

  .badge a {
    position: relative;
    z-index: 2;
    color: var(--black);
  }

  .durations {
    background: var(--light-grey);
    border-radius: 15px;
    font-size: 11px;
    padding: 7px;
    position: relative;
    text-align: left;
    top: -1em;
    left: 1em;

    .start-time {
      padding: 3px 5px;
    }
    .took {
      padding: 3px 5px;
    }
  }
}